.main-landing {
  height: 80%;
}

.title-section {
  font-size: 50px;
  font-weight: 500;
  line-height: 40px;
  color: #17262b;
}

.subtitle-section {
  font-size: 30px;
  line-height: 20px;
  color: #353e41;
}

.svg-main {
  width: 450px;
}

.svg-main-item {
  width: 150px;
}
